<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hieu Nguyen</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="top-container">
      <img class="top-cloud" src="../static/images/cloud.png" alt="cloud-img">
      <h1> I'm Hieu. </h1>
      <h2> A <span class="pro"> pro</span>grammer. </h2>
      <img class="bottom-cloud" src="../static/images/cloud.png" alt="cloud-img">
      <img src="../static/images/mountain.png" alt="mountain-img">
    </div>

    <div class="middle-container">
      <div class="profile">
        <img class="profilepic" src="../static/images/hieugrad.JPG" width="150px" alt="hieupicsquare">
        <h2>Hello.</h2>
        <p class="intro">I am Computer Science and Engineering-2018,
          and an iOS and Web Developer.
           I ❤️ to make my own coffee</p>
      </div>
      <hr>
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="codeimg" width="250px"src="../static/images/java.png" alt="">
          <h3>Java</h3>
          <p class="code-skill-description">This is the first progamming language that I start to know programming,I took two class which use this language one is Introduction to Java, other is Compiler in Java</p>
        </div>
        <div class="skill-row">
          <img class="codeimg1" width="250px" src="../static/images/c++.png" alt="">
          <h3>C++</h3>
          <p class="code-skill-description1">Most of my course are using C++ for the tool to programming</p>
        </div>
        <div class="skill-row">
          <img class="codeimg"src="../static/images/python.png" width="250px" alt="">
          <h3>Python</h3>
          <p class="code-skill-description">I have know this program when I work for UCLA lab research, and I still learning this language to improve my skill</p>
        </div>
        <div class="skill-row">
          <img class="codeimg1"src="../static/images/mySql.png" width="250px" alt="">
          <h3>MySQL</h3>
          <p class="code-skill-description1">I have been learning and mastering it from
            <a href="udemy.com">Udemy.com</a></p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>I hope you will have a great time, for more information please message me</h3>
        <p class="contact-message">I love to hear from your side, using the link below to message me, thanks for your consideration</p>
        <a class="btn" href="contact.html">CONTACT ME</a>
      </div>
    </div>


    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/HenryHieuTrungNguyenUCLA">LinkedIn</a>
      <a class="footer-link" href="projects.html">Project</a>
     
      <p class="copy-wright">© 2019-2020 Hieu Nguyen.</p>
    </div>

  </body>
</html>
