<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body>
    <h3>My Projects</h3>
    <div class="project">
      <div class="project_item">
        <img src="static/images/amazonpage.JPG" alt="amazonepage" />
        <div class="project_link">
          <a href="https://clone-a8485.web.app/">Amazon Clone</a>
        </div>
      </div>
      <div class="project_item">
        <img src="../static/images/youtubeclone.JPG" alt="youtube" />

        <div class="project_link"><a href="https://clone-c5bcc.web.app/">Youtube Clone </a></div>
      </div>
      <div class="project_item">
        <img src="../static/images/messengerpage.JPG" alt="messengerpage" />

        <div class="project_link">
          <a href="https://facebookclone-d6aca.web.app/">Messenger Clone</a>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="project_item">
        <img src="../static/images/instagraPage.JPG" alt="instagrampage" />

        <div class="project_link">
          <a href="https://instagramclone-49426.web.app/">Instagram Clone</a>
        </div>
      </div>
      <div class="project_item">
        <img src="../static/images/covidTracker.JPG" alt="covid19" />

        <div class="project_link">
          <a href="https://covid19-tracker-a66aa.web.app/">Covid Tracker</a>
        </div>
      </div>
    </div>
    
    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/HenryHieuTrungNguyenUCLA">LinkedIn</a>
      <a class="footer-link" href="index.html">Home Page</a>
     
      <p class="copy-wright">© 2019-2020 Hieu Nguyen.</p>
    </div>
  </body>
</html>
